/* Default styles for all screens */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header,
section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
}

.profile-picture-container,
.about-me img {
  width: 200px;
  margin-right: 20px;
}

.icons {
  justify-content: flex-end; /* Align icons to the right */
  margin-top: auto; /* Move icons to bottom on larger screens */
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-container {
  width: 50%;
  float: left; /* Change to display: flex; for horizontal layout */
  margin-bottom: 20px;
}

img {
  width: 100%;  /* Make images responsive */
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 2em;
  margin: 0 10px;
}

p {
  line-height: 1.5;
}

/* Mobile Styles (screen size less than 768px) */
@media only screen and (max-width: 768px) {
  header,
  section {
    flex-direction: column; /* Stack elements vertically */
  }

  .profile-picture-container,
  .about-me img {
    width: 100%; /* Make images responsive */
    margin: 0 auto 20px; /* Center images */
  }

  .icons {
    justify-content: center; /* Center icons horizontally */
    margin-top: 0; /* Align icons to top */
  }

  .skills ul {
    margin-top: 20px;
  }

  .project-container {
    width: 100%; /* Make projects full width */
    float: none; /* Remove float for flex layout */
  }
}
